*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }

html {
}

body {
  background: white;
  color: #111;
  font-family: 'Titillium Web', system;
}

#app {

}

a {
  color: #4e4a46;
  text-decoration: none;

  &:hover,
  &:focus {
    color: #c94e50;
  }
}

h1 {
  font-weight: 700;
  font-size: 3.75em;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.right .bm-burger-button {
  left: initial;
  right: 36px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-morph-shape {
  fill: white;
}

.bm-menu {
  background: white;

  a {
    color: #b8b7ad;

    &:hover,
    &:focus {
      color: #fff;
    }
  }
}

.bm-item-list a {
  padding: 0.8em;

  span {
    margin-left: 10px;
    font-weight: 700;
  }
}

.post > p > img {
	object-fit: contain;
	width: 100%;
	max-height: 100%;
}
