*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }

html {
}

body {
  color: #111;
  font-family: 'Titillium Web', system;
  overflow-x: hidden;
  background-color: #3e3e3e;
  min-width: 450px;
}


a {
  color: #4e4a46;
  text-decoration: none;
  &:hover,
  &:focus {
    color: #c94e50;
  }
}

h1 {
  font-weight: 400;
  font-size: 42px;
  font-family: 'Titillium Web', system;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
  opacity: 0.7;
}

.right .bm-burger-button {
  left: initial;
  right: 36px;
}

.bm-burger-bars {
  background: #ccc;
}

.bm-morph-shape {
  fill: white;
}

.bm-menu {
  padding: 5.5em 1.5em 0;
  background: white;
}

.bm-item-list > a {
  padding: 0.8em;
  color: #b8b7ad;
  padding: 0.8em;
  font-size: 1.25em;

  span {
    margin-left: 10px;
    font-weight: 700;
  }
}

.post > p > img {
	object-fit: contain;
	width: 100%;
	max-height: 100%;
}

@-webkit-keyframes fadein {
    from {
      opacity: 0;
    }
    to   {
      opacity: 1;
    }
}

@-webkit-keyframes scaleIn {
    from {
      transform: scale(0.5);
    }
    to   {
      transform: scale(1);
    }
}


canvas.canvid {
  -webkit-animation: scaleIn 3s, fadein 4s;
  padding: 0;
  margin: auto;
  display: block;
  width: 240px;
  height: 480px;
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
}

.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-item {
    padding-top: 40px;
    width: auto;
    height: auto;
    line-height: 20px;
    text-align: center;
}

.dotstyle ul {
  transform: rotate(90deg);
	position: fixed;
	margin: 0;
	padding: 0;
	list-style: none;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.dotstyle li {
	position: relative;
	display: block;
	float: left;
	margin: 0 10px;
	width: 10px;
	height: 10px;
	cursor: pointer;
}

.dotstyle li a {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	outline: none;
	border-radius: 50%;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.3);

	cursor: pointer;
	position: absolute;
}

.dotstyle li a:focus {
	outline: none;
}

.dotstyle-hop li a {
	border: 1px solid #ccc;
	background: transparent;
}

.dotstyle-hop li a::after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	border-radius: 50%;
	visibility: hidden;
	background: rgb(108, 178, 235);
	opacity: 0;
	-webkit-transform: rotate(-180deg);
	transform: rotate(-180deg);
	-webkit-transform-origin: -200% 50%;
	transform-origin: -200% 50%;
	-webkit-transition: -webkit-transform 0.3s ease 0.3s, opacity 0.3s ease, visibility 0s 0.3s ease;
	transition: transform 0.3s ease 0.3s, opacity 0.3s ease, visibility 0s 0.3s ease;
}

.dotstyle-hop li a:focus {
	background: rgba(255, 255, 255, 0.2);
}

.dotstyle-hop li.current-from-right a::after {
	-webkit-transition: none;
	transition: none;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	-webkit-transform-origin: 300% 50%;
	transform-origin: 300% 50%;
}

.dotstyle-hop li.current a::after {
	visibility: visible;
	opacity: 1;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease;
	transition: transform 0.3s ease, opacity 0.3s ease;
}
