*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }

html {
  height: 100%;
  width: 100%;
}

body {
  color: #111;
  font-family: 'Titillium Web';
  overflow-x: hidden;
  background-color: white;
  min-width: 450px;
  height: 100%;
  width: 100%;
}

h1 {
  font-weight: 400;
  font-size: 42px;
  font-family: 'Titillium Web';
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
  opacity: 0.7;
}

.right .bm-burger-button {
  left: initial;
  right: 36px;
}

.bm-burger-bars {
  background: #111;
}

.bm-morph-shape {
  fill: white;
}

.bm-menu {
  padding: 5.5em 1.5em 0;
  background: white;

}

.bm-item-list > a {
  padding: 0.8em;
  color: rgb(108, 178, 255);
  padding: 0.8em;
  font-size: 1.25em;

  margin-left: 55%;
  span {
    font-weight: 700;
  }
}

.bm-item-list > a:hover {
  color: #111;
}

.post > p > img {
	object-fit: contain;
	width: 100%;
	max-height: 100%;
}

@-webkit-keyframes fadein {
    from {
      opacity: 0;
    }
    to   {
      opacity: 1;
    }
}

@-webkit-keyframes scaleIn {
    from {
      transform: scale(0.5);
    }
    to   {
      transform: scale(1);
    }
}

canvas.canvid {
  -webkit-animation: scaleIn 3s, fadein 4s;
  padding: 0;
  margin: auto;
  display: block;
  position: fixed;
  top: 20px;
  bottom: 0;
  left: 0;
  right: 0;
}

.center-item {
    padding-top: 40px;
    width: auto;
    height: auto;
    line-height: 20px;
    text-align: center;
}

.dot-container {
  position: fixed;
  top: 50%;
  right: 0%;
}

.dotstyle ul {
  transform: rotateZ(90deg);
	list-style: none;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.dotstyle li {
  padding: 10px;
	position: relative;
	display: block;
	float: left;
	width: 12px;
	height: 12px;
	cursor: pointer;
}

.dotstyle-fall li::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	visibility: hidden;
	opacity: 0.5;
	left: 0;
	background-color: rgb(108, 178, 255);
	border-radius: 50%;
	-webkit-transform: translateY(-200%);
	transform: translateY(-200%);
	-webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s;
	transition: transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s;
}

.dotstyle-fall li a {
	-webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;
	transition: transform 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;
}

.dotstyle-fall li:hover a,
.dotstyle-fall li a:focus,
.dotstyle-fall li.current a {
	background-color: #333;
}

.dotstyle-fall li.current::after {
	opacity: 1;
	visibility: visible;
	-webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease;
	transition: transform 0.3s ease, opacity 0.3s ease;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
}

.dotstyle-fall li.current a {
	opacity: 0;
	-webkit-transform: translateY(300%);
	transform: translateY(300%);
}
